{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block global_actions %}
	{{ parent() }}
	<a href="{{ url('choose_page_element_type') }}" class="btn btn-primary ms-3" role="button">
		<i class="fa fa-scroll"></i>
		<span>Create a new Block Element</span>
	</a>
{% endblock global_actions %}

