{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block page_title %}
	{{ 'dashboard.title'|trans }}
{% endblock page_title %}
{% block global_actions %}{% endblock %}
{% block content_help %}{% endblock content_help %}
{% block main %}
	<div class="row">
		<div class="col-8 offset-2">
			<h2 class="text-center m-4 p-4">
				<i class="fa fa-tachometer-alt fa-lg faa-float animated"></i>
				{{ 'dashboard.title'|trans }}
			</h2>
		</div>
	</div>
{% endblock %}
