<div class="py-4 text-bg-dark">
	<div class="fs-4 text-center text-white py-2">
		{{'adManagement.showDummyAd' | trans }}
	</div>
	<ul class="list-group p-5">
		<li class="list-group-item">network :
			<strong>{{ network }}</strong>
		</li>
		<li class="list-group-item">bannerName :
			<strong>{{ bannerName }}</strong>
		</li>
	</ul>
</div>
