{% extends '@NakaCMS/layout/base-layout.html.twig' %}


{% block content %}
	<div class="container my-4 p-4">
		<div class="display-3 text-center m-4">
			{{page.title}}
		</div>
		{{page.content | raw}}
	</div>
{% endblock %}
