{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block title %}Quick test
{% endblock title %}

{% block content %}
	<div class="container my-5">
		<h1 class="mb-4">Details</h1>

		{{ dump(data) }}
	</div>
{% endblock content %}
