{% extends '@EasyAdmin/page/login.html.twig' %}

{% block header_logo %}
	<div class="text-center">
	
		{# You could add a logo here  #}
		{# <img class="p-3" src="{{ '/images/logo/logo_transparent.png'| imagine_filter('logo_resize') }}"/> #}
		<div class="lead py-2">
			{{ parent() }}
		</div>
	</div>
{% endblock header_logo %}
