{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block main %}
	<div class="row p-4">
		<div class="col-8 offset-2">
			<div class="p-2 mb-4 text-bg-light rounded-3">
					<div class="p-3">{{ 'backend.crud.nakaParameter.generalHelp' | trans | raw }}</div>
			</div>
		</div>
	</div>
	{{ parent() }}
{% endblock main %}
