{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block title %}{{ 'register.signUpToPlatform.title' | trans }}{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row bg-primary bg-info bg-opacity-10 m-4 p-4">
			{{ 'register.signUpToPlatform.detail' | trans }}
		</div>
		<div class="row bg-light m-4 p-4">
			<div class="col-10 offset-1">
				{{ include('@NakaCMS/registration/_register_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock content %}