{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block main %}
	<div class="p-2 mb-4 bg-light rounded-3">
		<div class="container-fluid py-2">
			<div class="col-md-8 offset-2">{{ 'backend.user.generalHelp' | trans | raw }}</div>
		</div>
	</div>
	{{ parent() }}
{% endblock %}
